<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Regression Suite" parallel="none">

<parameter name="browser" value="chrome"/>

<test name="Login Tests">
    <classes>
        <class name="com.dibimbing.tests.login.LoginTest"/>
    </classes>
</test>

<test name="Employee Management Tests">
    <classes>
        <class name="com.dibimbing.tests.employee.EmployeeTest"/>
    </classes>
</test>

    <test name="Training  Tests">
        <classes>
            <class name="com.dibimbing.tests.training.TrainingTest"/>
        </classes>
    </test>

    <!--    <test name="FirefoxTest">-->
    <!--        <parameter name="browser" value="firefox"/>-->
    <!--        <classes>-->
    <!--            <class name="com.dibimbing.tests.employee.EmployeeTest"/>-->
    <!--            <class name="com.dibimbing.tests.training.TrainingTest"/>-->
    <!--        </classes>-->
    <!--    </test>-->
</suite>